[submodule "desktop-apps"]
	path = desktop-apps
url=https://github.com/ASC-OFFICE/desktop-apps.git
[submodule "desktop-sdk"]
	path = desktop-sdk
url=https://github.com/ASC-OFFICE/desktop-sdk.git
[submodule "core"]
	path = core
url=https://github.com/ASC-OFFICE/core.git
[submodule "sdkjs"]
	path = sdkjs
url=https://github.com/ASC-OFFICE/sdkjs.git
[submodule "dictionaries"]
	path = dictionaries
url=https://github.com/ASC-OFFICE/dictionaries.git
[submodule "web-apps"]
	path = web-apps
url=https://github.com/ASC-OFFICE/web-apps-pro.git